<div class="footer">
    <div class="footer-content">
        <div class="top">
            <div class="title">
                <p>Subscribe to our newsletter</p>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Your email address...">
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <div class="center">
            <div class="heading">
                <a routerLink="/"><img src="../../assets/logo-regular.png" alt=""></a>
            </div>
            <div class="content">
                <div class="one">
                    <p routerLink="/shop">Shop All</p>
                    <p routerLink="/makeup">Makeup</p>
                    <p routerLink="/skin">Skin Care</p>
                    <p routerLink="/hair">Hair Care</p>
                    <p routerLink="/about">About</p>
                    <p routerLink="/contact">Contact</p>
                </div>
                <div class="two">
                    <p>Refund Policy</p>
                    <p>Terms & Conditions</p>
                    <p>FAQ</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="three">
                    <img src="../../assets/facebook.png" alt="">
                    <img src="../../assets/twitter.png" alt="">
                    <img src="../../assets/instagram.png" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2023 Be Bold | Powered by Be Bold</p>
        </div>
    </div>
</div>