<div class="hero">
    <div class="hero-content">
        <div class="bg-image"></div>
        <div class="content">
            <div class="top">
                <div class="new">
                    <p>NEW IN TOWN</p>
                </div>
                <div class="collection">
                    <p>The New Beauty Collection</p>
                </div>
                <div class="text">
                    <p>This new collection brings with it the most exciting lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="bottom">
                <div class="btn">
                    <button>SHOP NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-slide></app-slide>
<app-trending></app-trending>
<app-selling></app-selling>
<app-new-collection></app-new-collection>
<app-review></app-review>
<app-awesome></app-awesome>
<app-provider></app-provider>