<div class="provider">
    <div class="provider-content">
        <div class="top">
            <div class="choose">
                <div class="title">
                    <p>WHY CHOOSE US</p>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="bottom">
            <div class="delivery">
                <div class="icon">
                    <img src="../../assets/delivery.png" alt="">
                </div>
                <div class="text">
                    <p>Fast Delivery</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis.</p>
                </div>
            </div>
            <div class="shipping">
                <div class="icon">
                    <img src="../../assets/cart.png" alt="">
                </div>
                <div class="text">
                    <p>Free Shipping</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis.</p>
                </div>
            </div>
            <div class="returns">
                <div class="icon">
                    <img src="../../assets/arrow.png" alt="">
                </div>
                <div class="text">
                    <p>Easy Returns</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis.</p>
                </div>
            </div>
        </div>
    </div>
</div>