<div class="awesome">
    <div class="awesome-content">
        <div class="cards">
            <div class="card">
                <div class="image">
                    <img src="../../assets/awesome2.jpg" alt="">
                </div>
                <div class="text">
                    <div class="one">
                        <p>NEW COLLECTION</p>
                    </div>
                    <div class="two">
                        <P>Awesome Makeup Kit Gift Sets</P>
                    </div>
                    <div class="three">
                        <P>Find your unique style.</P>
                    </div>
                    <div class="btn">
                        <button>SHOP NOW</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../../assets/awesome1.jpg" alt="">
                </div>
                <div class="text">
                    <div class="one">
                        <p>NEW COLLECTION</p>
                    </div>
                    <div class="two">
                        <P>The Ultimate Skincare Regime</P>
                    </div>
                    <div class="three">
                        <P>Find your unique style.</P>
                    </div>
                    <div class="btn">
                        <button>SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>