<div class="review">
    <div class="review-content">
        <div class="right">
            <div class="name">
                <p>JANE OLIVER</p>
            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere...</p>
            </div>
            <div class="line">
            </div>
        </div>
        <div class="left">
            <div class="reviews">
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere tincidunt purus, eu
                        consectetur eros sodales nec. Maecenas ac erat pretium, ultricies nibh quis, mattis massa.</p>
                </div>
                <div class="name">
                    <p>JAMES OLIVER</p>
                </div>
                <div class="line">
                </div>
            </div>
            <div class="reviews">
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere tincidunt purus, eu
                        consectetur eros sodales nec. Maecenas ac erat pretium, ultricies nibh quis, mattis massa.</p>
                </div>
                <div class="name">
                    <p>JAMES OLIVER</p>
                </div>
                <div class="line">
                </div>
            </div>
            <div class="reviews">
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere tincidunt purus, eu
                        consectetur eros sodales nec. Maecenas ac erat pretium, ultricies nibh quis, mattis massa.</p>
                </div>
                <div class="name">
                    <p>JAMES OLIVER</p>
                </div>
                <div class="line">
                </div>
            </div>
        </div>
    </div>
</div>