<div class="slide">
    <div class="slide-content">
        <div class="card">
            <img src="../../assets/logo1.png">
        </div>
        <div class="card">
            <img src="../../assets/logo2.png">
        </div>
        <div class="card">
            <img src="../../assets/logo3.png">
        </div>
        <div class="card">
            <img src="../../assets/logo4.png">
        </div>
        <div class="card">
            <img src="../../assets/logo5.png">
        </div>
        <div class="card">
            <img src="../../assets/logo6.png">
        </div>
    </div>
</div>