<div class="hero">
    <div class="hero-content">
        <div class="bg-image"></div>
        <div class="content">
            <div class="top">
                <div class="new">
                    <p>NEW COLLECTION</p>
                </div>
                <div class="collection">
                    <p>The beauty collection that makes all the difference!</p>
                </div>
                <div class="text">
                    <p>Aliquam vulputate, nunc vitae suscipit aliquet, libero arcu hendrerit sapien.</p>
                </div>
            </div>
            <div class="bottom">
                <div class="btn">
                    <button>SHOP NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>